@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "_LayoutRegister";
}
<p class="register-box-msg">Register a new membership</p>

<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group has-feedback">
        <input asp-for="Email" class="form-control" placeholder="Email"/>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group has-feedback">
        <input asp-for="Password" class="form-control" placeholder="Password" />
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group has-feedback">
        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="row">
        <div class="col-xs-8">
            
        </div>
        <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
        </div>
    </div>
</form>
<p>
    <a asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" class="text-center">I already have a membership</a>
</p>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
}
